Body{
    Text-Align: Center;
    Background-Color : Black;
}

#Intro{
    Width : 300px;
    font-size: 25px;
}

.Faces{
    Height : 125px;
}

.Members-Male{
    Border-Radius : 100%;
    Border-Color : Cyan;
    Border-Width: 1px;
    Border-Style : Solid;
    Width : Fit-Content;
    Display : Inline-Block;
    width: 125px;
    height: 125px;
}

.Members-Female{
    Border-Radius : 100%;
    Border-Color : DeepPink;
    Border-Width: 1px;
    Border-Style : Solid;
    Width : Fit-Content;
    Display : Inline-Block;
    width: 125px;
    height: 125px;
}

.Orange{
    Color: Orange;
    Font-Family: 'Cedarville Cursive', Cursive;
    Font-Weight: Bold;
}

.Cyan{
    Color: Cyan;
    Font-Family: 'Cedarville Cursive', Cursive;
    Font-Weight: Bold;
}

.DeepPink{
    Color: DeepPink;
    Font-Family: 'Cedarville Cursive', Cursive;
    Font-Weight: Bold;
}

canvas{
    border: cyan solid;
    margin-top: 250px;
}

.Content{
    border: aliceblue 2px solid;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    border-top-left-radius: 750px;
    border-top-right-radius: 750px;
}